<div class="home" ng-show="displayGrid">
	
	<div class="title-container dark">

		<h1 class="title">Hello there. I'm Nick and I build high-quality apps.</h1>

	</div>

	<br />

	<div class="instruction-container dark">

		<h2>Click on a project below to see more detail.</h2>

	</div>

	<div class="grid-container">

		<div class="display-grid" 
			ng-repeat="project in projectsGrid" 
			ng-animate-ref="{{project.id}}" 
			ng-href="/#/project-detail" 
			ng-click="viewProject(project.id)">
				<div class="grid-text-container dark">
					<img class="grid" ng-src="{{project.image}}" ng-animate-ref="{{project.image}}">
					<p><strong>{{project.name}}</strong></p>
					<p>{{project.tagline}}</p>
				</div>
		</div>

	</div>

</div>