<div class = "home">
	
	Hello there. I'm Nick and I build stuff. 

	<h1>Behold!</h1>

	<div class="grid-container">

		<div class="display-grid" 
			ng-repeat="project in projectsGrid" 
			ng-animate-ref="{{project.id}}" 
			ng-click="viewProject(project.id)">
				<img class="grid" ng-src="{{project.image}}">
				<p>{{project.name}}</p>
				<p>{{project.tagline}}</p>
				<p><a ng-href="/#/project-detail">Check it out.</a></p>
		</div>

	</div>
	<br />
	<br />
	<br />
	<br />
	<p><a href="/AvoidTheCircles">Avoid The Circles</a>

</div>