<div class="home" ng-show="displayGrid">
	
	<div class="title-container">

		<h1 class="title">Hello there. I'm Nick and I build high-quality apps.</h1>

	</div>

	<div class="grid-container">

		<div class="display-grid" 
			ng-repeat="project in projectsGrid" 
			ng-animate-ref="{{project.id}}" 
			ng-click="viewProject(project.id)">
				<img class="grid" ng-src="{{project.image}}" ng-animate-ref="{{project.image}}">
				<p><strong>{{project.name}}</strong></p>
				<p>{{project.tagline}}</p>
				<p><a ng-href="/#/project-detail">Check it out.</a></p>
		</div>

	</div>

</div>