<table class="table-display-container dark">

	<td class="side-display-container" ng-show="showProjectData">

		<div class="project-display">

			<div class="description-title-container">
				<h3>Description</h3>
			</div>


			<div class="side-text-container">
				<p>{{currentProject.description}}</p>
				<ul>
					<li class="feature-list" ng-repeat="point in currentProject.points">{{point}}</li>
				</ul>
				<p><a href="{{currentProject.link}}">See it in action.</a></p>
			</div>

		</div>

	</td>

	<td class="img-display-container">

		<div class="project-display">

			<div class="display-title-container">
				<h2>{{currentProject.name}}</h2>
			</div>


			<img class="grid display" ng-src="{{currentProject.image}}">

			<br />

			<a href="/#/">Back to portfolio.</a>

		</div>

	</td>

	<td class="side-display-container" ng-show="showProjectData">

		<div class="project-display">

			<div class="tech-title-container">
				<h3>Technology Used</h3>
			</div>

			<div class="side-text-container">
				<ul class="tech-list">
					<li ng-repeat="technology in currentProject.tech">{{technology}}</li>
					<br />
					<a href="{{currentProject.github}}">See code on Github</a>
				</ul>
			</div>

		</div>

	</td>


</table>
