<table class="table-display-container">
	
	<td class="side-display-container" ng-show="showProjectData">

		<div class="project-display">

			<h3>Description</h3>

			<div class="side-text-container">
				<p>{{currentProject.description}}</p>
				<p><a href="{{currentProject.link}}">See it in action.</a></p>
			</div>

		</div>

	</td>

	<td class="img-display-container">

		<div class="project-display">

			<h2>{{currentProject.name}}</h2>
			<img class="grid display" ng-src="{{currentProject.image}}" ng-animate-ref="{{currentProject.image}}">
			
			<br />

			<a href="/#/">Back to portfolio.</a>

		</div>

	</td>

	<td class="side-display-container" ng-show="showProjectData">

		<div class="project-display">

			<h3>Technology Used</h3>

			<div class="side-text-container">
				<ul>
					<li ng-repeat="technology in currentProject.tech">{{technology}}</li>
					<br />
					<a href="{{currentProject.github}}">See code on Github</a>
				</ul>
			</div>

		</div>

	</td>


</table>

